*{
    text-decoration: none;
}
.container{
    padding-top: 1px;
    background: rgba( 42, 45, 48, 0.95 );
    width: 60%;
    margin: auto;
    text-align: center;
    color: white;
    border: 1px #3dd5f3 groove;

}
    body{
        font: 16px Calibri;
        background-image: url("carbon.jpg");
    }
.navbar a{
    cursor: pointer;
    display: inline-block;
    background: rgba( 50, 50, 50, 1 );
    color: rgb( 255, 255, 255 );
    text-decoration: none;

    font-size: 18px;
    font-weight: 400;
    user-select: none;

    margin-right: 10px;
    margin-bottom: 10px;

    padding: 0.4em 1.5em;

    -webkit-transition: all 350ms cubic-bezier(0.190, 1.000, 0.220, 1.000);
    transition: all 350ms cubic-bezier(0.190, 1.000, 0.220, 1.000);
}
.navbar{
    margin: auto;
}
.bottomnav {
    text-align: center;
    color: white;
    -webkit-text-stroke: 0.2px black;

}
.bottomnav a{
    color: rgba(0,0,0,0);
}
.nav a:hover{
    color: #bfe2e9;
    background: #3a7d87;
}

